body {
	background-color: black;
	text-align: center;
}

h1, h2, h3, p {
	color: white;
	font-family: 'Amatic SC', cursive;
}

h2 {
	font-size: 30px;
}

h1, h3 {
	font-size: 50px;
}

p {
	font-size: 30px;
}

a {
	text-decoration: none;
	color: white;
}

h1.trap {
	font-size: 40px;
	font-family: 'Nosifer', cursive;
	color: darkred;
}
